--- ---
/* ---------- ヘッダーのアカウント名を非表示にする ---------- */


.github-corner,
.github-fork-ribbon,
.btn,
.zip_download_link,
.tar_download_link {
  display: none !important;
}

/* ページヘッダーの調整 */
.page-header {
  margin-bottom: 2rem;
}

.page-header .btn {
  display: none !important;
}