--- ---

/* GitHub関連の表示を非表示 */
.site-title,
.page-header .site-title,
header .site-title,
.site-header .site-title,
.header .username,
.profile-name,
.author {
    display: none !important;
}

.markdown-body>h1>a[href="https://suzuki2n.github.io/"] {
    display: none !important;
}

.portfolio-image {
    width: 60%;
    max-width: 700px;
    height: auto;
    display: block;
    margin: 16px auto 24px;
    border-radius: 8px;
}